@import '_content/PSC.Blazor.Components.Chartjs/PSC.Blazor.Components.Chartjs.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
body[b-8y3diyeysj]
{
}
/* /Pages/Dashboard.razor.rz.scp.css */
body[b-4puwi2k7v6] {
    background: #f3f4f6;
}

.page-container[b-4puwi2k7v6] {
    max-width: 1150px;
    margin: 30px auto;
    padding: 0 20px;
}

.filters-card[b-4puwi2k7v6] {
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    margin-bottom: 25px;
}

.filter-group[b-4puwi2k7v6] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .filter-group label[b-4puwi2k7v6] {
        font-weight: 600;
        color: #374151;
    }

    .filter-group input[b-4puwi2k7v6] {
        border: 1px solid #d1d5db;
        padding: 12px 16px;
        border-radius: 12px;
        min-width: 220px;
    }

.cards-grid[b-4puwi2k7v6] {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.summary-card[b-4puwi2k7v6] {
    color: white;
    padding: 28px;
    border-radius: 18px;
    box-shadow: 0 8px 18px rgba(0,0,0,.08);
}

    .summary-card span[b-4puwi2k7v6] {
        font-size: 14px;
        font-weight: 600;
    }

    .summary-card h2[b-4puwi2k7v6] {
        margin-top: 10px;
        font-size: 38px;
        font-weight: 800;
    }

.green[b-4puwi2k7v6] {
    background: #10b981;
}

.red[b-4puwi2k7v6] {
    background: #f43f5e;
}

.blue[b-4puwi2k7v6] {
    background: #4f46e5;
}


@media (max-width: 768px) {

    .summary-card[b-4puwi2k7v6] {
        padding: 22px;
    }

        .summary-card h2[b-4puwi2k7v6] {
            font-size: 28px;
        }
}
/* /Pages/Login.razor.rz.scp.css */
.login-container[b-9d9chu89y9] {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8fafc;
}

.login-card[b-9d9chu89y9] {
    background: white;
    padding: 40px;
    width: 100%;
    max-width: 420px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}
/* /Pages/Movimientos.razor.rz.scp.css */
.form-card[b-z9wcyc47su],
.history-card[b-z9wcyc47su] {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    margin-bottom: 25px;
}

.form-grid[b-z9wcyc47su] {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 18px;
    margin-top: 20px;
}

    .form-grid input[b-z9wcyc47su],
    .form-grid select[b-z9wcyc47su] {
        border: 1px solid #d1d5db;
        padding: 12px;
        border-radius: 12px;
    }

.main-btn[b-z9wcyc47su] {
    width: 100%;
    margin-top: 20px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 14px;
    font-weight: 700;
}

.history-top[b-z9wcyc47su] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-filters[b-z9wcyc47su] {
    display: flex;
    gap: 12px;
}



@media (max-width: 768px) {

    .form-grid[b-z9wcyc47su] {
        grid-template-columns: 1fr;
    }

    .history-top[b-z9wcyc47su] {
        flex-direction: column;
        align-items: start;
        gap: 14px;
    }

    .history-filters[b-z9wcyc47su] {
        flex-direction: column;
        width: 100%;
    }

        .history-filters input[b-z9wcyc47su] {
            width: 100%;
        }

    table[b-z9wcyc47su] {
        font-size: 13px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.history-card[b-z9wcyc47su] {
    background: white;
    margin-top: 30px;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
}

.history-header[b-z9wcyc47su] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .history-header h3[b-z9wcyc47su] {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        color: #1e293b;
    }

    .history-header span[b-z9wcyc47su] {
        background: #eef2ff;
        color: #4338ca;
        padding: 8px 14px;
        border-radius: 999px;
        font-size: 13px;
        font-weight: 600;
    }

.table-container[b-z9wcyc47su] {
    overflow-x: auto;
}

table[b-z9wcyc47su] {
    width: 100%;
    border-collapse: collapse;
}

thead[b-z9wcyc47su] {
    background: #f8fafc;
}

th[b-z9wcyc47su] {
    padding: 16px;
    text-align: left;
    color: #64748b;
    font-size: 14px;
}

td[b-z9wcyc47su] {
    padding: 18px 16px;
    border-top: 1px solid #e2e8f0;
    font-size: 15px;
}

tbody tr:hover[b-z9wcyc47su] {
    background: #f8fafc;
}

.income[b-z9wcyc47su] {
    color: #16a34a;
    font-weight: 700;
}

.expense[b-z9wcyc47su] {
    color: #dc2626;
    font-weight: 700;
}
.balance-column[b-z9wcyc47su] {
    font-weight: 700;
    color: #1e40af;
}
/* /Pages/Reportes.razor.rz.scp.css */
.reports-grid[b-0n14px7ujp] {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	gap: 20px;
}

.report-card[b-0n14px7ujp] {
	background: white;
	padding: 28px;
	border-radius: 20px;
	min-height: 360px;
	box-shadow: 0 4px 12px rgba(0,0,0,.06);
}

.resume[b-0n14px7ujp] {
	padding: 16px;
	border-radius: 12px;
	margin-top: 15px;
	font-weight: 600;
}

.green-box[b-0n14px7ujp] {
	background: #dcfce7;
	color: #047857;
}

.red-box[b-0n14px7ujp] {
	background: #ffe4e6;
	color: #be123c;
}

.gray-box[b-0n14px7ujp] {
	background: #e5e7eb;
	color: #374151;
}

.year-summary[b-0n14px7ujp] {
	margin-top: 25px;
	background: #312e81;
	color: white;
	padding: 35px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
}



@media (max-width: 768px) {

	.report-card[b-0n14px7ujp] {
		min-height: auto;
		padding: 20px;
	}

	.resume[b-0n14px7ujp] {
		font-size: 14px;
	}

	.year-summary h2[b-0n14px7ujp] {
		font-size: 28px;
	}
}

.chart-wrapper[b-0n14px7ujp] {
	width: 100%;
	max-width: 380px;
	margin: 20px auto;
}

	.chart-wrapper canvas[b-0n14px7ujp] {
		width: 100% !important;
		height: auto !important;
	}

@media (max-width: 768px) {
	.chart-wrapper[b-0n14px7ujp] {
		max-width: 250px;
	}

	.reports-grid[b-0n14px7ujp] {
		grid-template-columns: 1fr;
	}

	.report-card[b-0n14px7ujp],
	.big-card[b-0n14px7ujp] {
		width: 100%;
		overflow: hidden;
	}
}

.chart-wrapper[b-0n14px7ujp] {
	width: 100%;
	max-width: 320px;
	margin: auto;
	padding: 20px;
}

	.chart-wrapper canvas[b-0n14px7ujp] {
		width: 100% !important;
		height: auto !important;
	}

@media (max-width: 768px) {
	.chart-wrapper[b-0n14px7ujp] {
		max-width: 240px;
		padding: 10px;
	}
}
/* /Shared/NavMenu.razor.rz.scp.css */
.top-nav[b-utfwlzsffv] {
    background: #4f46e5;
    padding: 18px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.nav-container[b-utfwlzsffv] {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.logo[b-utfwlzsffv] {
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.nav-links[b-utfwlzsffv] {
    display: flex;
    gap: 35px;
}

    .nav-links a[b-utfwlzsffv] {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
    }




@media (max-width: 768px) {

    .top-nav[b-utfwlzsffv] {
        padding: 14px 0;
    }

    .nav-container[b-utfwlzsffv] {
        flex-direction: column;
        gap: 14px;
    }

    .logo[b-utfwlzsffv] {
        font-size: 22px;
    }

    .nav-links[b-utfwlzsffv] {
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

        .nav-links a[b-utfwlzsffv] {
            font-size: 14px;
        }
}
