@page "/dashboard"

<div class="page-container">

    <div class="filters-card">
        <div class="filter-group">
            <label>Fecha Inicio</label>
            <input type="date" />
        </div>

        <div class="filter-group">
            <label>Fecha Fin</label>
            <input type="date" />
        </div>
    </div>

    <div class="cards-grid">
        <div class="summary-card green">
            <span>Ingresos del Mes</span>
            <h2>$0,00</h2>
        </div>

        <div class="summary-card red">
            <span>Egresos del Mes</span>
            <h2>$0,00</h2>
        </div>

        <div class="summary-card blue">
            <span>Saldo Final Actual</span>
            <h2>$0,00</h2>
        </div>
    </div>
</div>