@page "/"

<div class="container py-5 text-center">
    <div class="mt-5">
        <h1 class="display-4 fw-bold text-primary"> Finanzas Pro</h1>
        <p class="lead text-muted">
            Controla ingresos, egresos y reportes mensuales
        </p>

        <a href="/dashboard" class="btn btn-primary btn-lg px-5 mt-4 shadow">
            Entrar
        </a>
    </div>
</div>