@page "/"

<PageTitle>Finanzas Familiares</PageTitle>

<div class="container mt-5">
    <h1>Finanzas Familiares</h1>
    <p>Control de ingresos y egresos</p>

    <button class="btn btn-primary">
        Iniciar
    </button>
</div>