@page "/reportes"

<div class="page-container">

    <div class="reports-grid">
        <div class="report-card big-card">
            <h3>Balance Mensual</h3>
        </div>

        <div class="report-card">
            <h3>Resumen Anual (2026)</h3>

            <div class="resume green-box">Total Ingresos Anuales $0</div>
            <div class="resume red-box">Total Gastos Anuales $0</div>
            <div class="resume gray-box">Diferencia Operativa $0</div>
        </div>
    </div>

    <div class="year-summary">
        <div>
            <h3>Resumen de Cuenta</h3>
            <p>Consulta el estado general de tus finanzas este ańo.</p>
        </div>

        <div>
            <small>AHORRO NETO ANUAL</small>
            <h2>$0,00</h2>
        </div>
    </div>
</div>